
body{

    background-color: peachpuff;
}

.coffee-body{
    padding: 15px;
}

.title-parent {
    height: 4.7rem;
    width: 100%;
    text-align: center;
    position: absolute;
}
.navbar{
    display: block;
}

.coffee-title{
    margin: auto;
    font-size: 4rem;
    font-weight: bold;
    color: chocolate;
}


table {
    border-collapse: collapse;
    margin: 15px 0;
}

td, th {
    border: 1px solid black;
    padding: 5px 10px;
}


h1{
    font-family: 'MonteCarlo', cursive;
}

p{
    font-family: 'Mulish', sans-serif;
}