
body{

    background-color: peachpuff;
}


.coffee-body {
    padding: 15px;
    width: 10%;
    /* height: 18rem; */
    align-content: center;
    margin: 51px auto auto auto ;
}

.select-design{
    padding: 18px;
}

.title-parent {
    height: 4.7rem;
    text-align: center;
    position: absolute;
}
.coffee-title{
    margin: auto;
    font-size: 4rem;
    font-weight: bold;
    color: chocolate;
    position: absolute;
    left: 97rem;
}
.navbar{
    display: block;
    height: 6.2rem;
    background-color: #efc7a4;
}

h1{
    font-family: 'MonteCarlo', cursive;
}

p{
    font-family: 'Mulish', sans-serif;
}